.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: linear-gradient(90deg, #abdcff, #0396ff);

    .login-box {
        width: 400px;
        padding: 20px;

        background-color: #ffffff;
        border-radius: 5%;

        h2 {
            text-align: center;
        }
    }
}
